.card{
    // background-color: #fff;
    border-radius: 5px 5px;
    box-shadow: #332f2f;
    border: #332f2f 1px solid;
    border-top: 0;
}

h2{
   border-radius: 5px 5px;
   background-color: #c21313;
   border: #332f2f 1px solid;
     border-left: 0;
     border-right: 0;
}